{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {{ parent () ~ ' - Home' }}{#rajoute home à la fin du title#}
{% endblock %}

{% block body %}
    {{ parent() }}{#comprend le contenu déjà indiqué dans le blody#}

    <h2>Articles : </h2>
    <ul>
        {% for article in articles %} {#pour un objet dans une liste d'objet#}
            <li>
                <h3>{% if article.title is not null %}{{ article.title }} {% endif %}</h3>
                <p>Le : {{ article.createdAt|date('md/d/Y H:i') }}, tags : <a href="{{ path('article_tag', {'tag' : article.tag }) }}">{{ article.tag }}</a>
                </p>
            </li>

            <a href=" {{ path('article_show', {'id' : article.id }) }}" class="text-center btn-success btn">Voir</a>

        {% endfor %}

    </ul>


{% endblock %}
{% block endbody %}
{% endblock %}