{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {{ parent () ~ ' - Article' }}{#rajoute home à la fin du title#}
{% endblock %}

{% block body %}
    {{ parent() }}{#comprend le contenu déjà indiqué dans le blody#}

    <h2>Articles : </h2>
    <ul>
        {% for article in articles %} {#pour un objet dans une liste d'objet#}

            <li>
                <h3>{% if article.title is not null %}{{ article.title }} {% endif %}</h3>
                <p>{{ article.content }}</p>
                <p>Par : {{ article.author }}</p>
                <p> tag : <a href="{{ path('article_list', {'tag' : article.tag }) }}">{{ article.tag }}</a></p>
                <p>Le : {{ article.createdAt|date('md/d/Y H:i') }}</p>
            </li>
        {% endfor %}
    </ul>


{% endblock %}
{% block endbody %}
{% endblock %}